# /lib/systemd/system/openrobertalab.service

[Unit]
Description=OpenRoberta Lab connector
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/python3 /usr/bin/openrobertalab
Restart=always

[Install]
WantedBy=multi-user.target
